 <mat-card class="forms" >
    <mat-tab-group [selectedIndex]="0">
      <mat-tab label="Ordinance No. & Members">
          <form  #ordinanceEditForm="ngForm" (ngSubmit)="updateOrdForm(ordinanceEditForm)">
          <mat-grid-list cols="4" rowHeight="2:1">

                  <mat-grid-tile>
                    <div class="example-container">
                      <mat-form-field appearance="fill">
                        <mat-label>Select date:</mat-label>
                        <input matInput [matDatepicker]="pickerO" #oDate="ngModel"
                        required [(ngModel)]="data.oDate"
                        name="oDate" [ngClass]="{'invalid-textbox' :ordinanceEditForm.submitted && !oDate.valid }">

                        <mat-datepicker-toggle matSuffix [for]="pickerO"></mat-datepicker-toggle>
                        <mat-datepicker #pickerO></mat-datepicker>

                        <div *ngIf="ordinanceEditForm.submitted && !oDate.valid">
                          <label class="validation-message">Date is required.</label>
                        </div>
                      </mat-form-field>
                      </div>
                  </mat-grid-tile>

                  <mat-grid-tile>
                    <div class="example-container">
                      <mat-form-field appearance="fill" style="padding-top: 0px;">
                        <mat-label>Select time:</mat-label>
                        <input matInput type="time" required
                        id="input"  #oTime="ngModel" name="oTime"
                        class="" value="13:00" mdbInput
                         [(ngModel)]="data.oTime"
                        [ngClass]="{'invalid-textbox' :ordinanceEditForm.submitted && !oTime.valid }">

                        <div *ngIf="ordinanceEditForm.submitted && !oTime.valid">
                          <label class="validation-message">Time is required.</label>
                        </div>
                      </mat-form-field>
                      </div>
                  </mat-grid-tile>

                  <mat-grid-tile>
                    <div class="example-container">
                      <mat-form-field appearance="fill">
                        <mat-label>Ordinance Classification:</mat-label>
                        <mat-select #rClassification="ngModel" name="oClassification"
                        [(ngModel)]="data.oClassification">
                          <mat-option *ngFor="let class of ordClass" [value]="class">
                            {{class}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      </div>
                  </mat-grid-tile>

                  <mat-grid-tile *ngIf="data.oClassification=='Revenue Raising Ordinances'">
                    <div class="example-container">
                      <mat-form-field appearance="fill">
                        <mat-label>Ord. Subclassification: </mat-label>
                        <mat-select #oSubRRClassification="ngModel" [(ngModel)]="data.oSubRRClassification" name="oSubRRClassification">
                          <mat-option *ngFor="let class of this.ordRRSubclass" [value]="class">
                            {{class}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      </div>
                  </mat-grid-tile>

                  <mat-grid-tile>
                    <div class="example-container">
                      <mat-form-field appearance="fill">
                        <mat-label>Ordinance No: </mat-label>
                        <input matInput required  #ordinanceNo="ngModel" name="ordinanceNo"
                        [(ngModel)]="data.ordinanceNo"
                        >

                        <div *ngIf="ordinanceEditForm.submitted && !ordinanceNo.valid">
                          <label class="validation-message">Ordinance Number is required.</label>
                        </div>
                      </mat-form-field>
                      </div>
                  </mat-grid-tile>

                  <mat-grid-tile>
                    <div class="example-container">
                      <mat-form-field appearance="fill">
                        <mat-label>Resolution Ref. No: </mat-label>
                        <input matInput #resolutionRefNo="ngModel" name="resolutionRefNo"
                        [(ngModel)]="data.resolutionRefNo">

                      </mat-form-field>
                      </div>
                  </mat-grid-tile>


             </mat-grid-list>

             <mat-grid-list cols="4" rowHeight="3:1" *ngIf="data.isRevised">

              <mat-grid-tile>
                <div class="example-container">
                  <mat-form-field appearance="fill" style="padding-bottom: 5px;">
                    <mat-label>Ordinance Ref. No: </mat-label>
                    <input matInput required #ordinanceRefNo="ngModel" name="ordinanceRefNo"
                    [(ngModel)]="data.ordinanceRefNo">
                  </mat-form-field>
                  </div>
              </mat-grid-tile>

                <mat-grid-tile>
                  <div class="example-container">
                    <mat-form-field appearance="fill" style="padding-bottom: 5px;">
                      <mat-label>Section No: </mat-label>
                      <input matInput #sectionNo="ngModel" name="sectionNo"
                      [(ngModel)]="data.sectionNo">
                    </mat-form-field>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile>
                  <div class="example-container">
                    <mat-form-field appearance="fill" style="padding-bottom: 5px;">
                      <mat-label>Chapter No: </mat-label>
                      <input matInput  #chapterNo="ngModel" name="chapterNo"
                      [(ngModel)]="data.chapterNo">
                    </mat-form-field>
                    </div>
                </mat-grid-tile>

           </mat-grid-list>

           <mat-grid-list cols="4" rowHeight="3:1" *ngIf="data.isPursuantTo">

            <mat-grid-tile>
              <div class="example-container">
                <mat-form-field appearance="fill">
                  <mat-label>Section: </mat-label>
                  <input matInput name="pSection" #pSection="ngModel" [(ngModel)]="data.pSection">
                </mat-form-field>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
              <div class="example-container">
                <mat-form-field appearance="fill">
                  <mat-label>Paragraph: </mat-label>
                  <input matInput name="pParagraph" #pParagraph="ngModel" [(ngModel)]="data.pParagraph">

                </mat-form-field>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
              <div class="example-container">
                <mat-form-field appearance="fill">
                  <mat-label>Article: </mat-label>
                  <input matInput name="pArticle" #pArticle="ngModel" [(ngModel)]="data.pArticle">

                </mat-form-field>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
              <div class="example-container">
                <mat-form-field appearance="fill">
                  <mat-label>Chapter: </mat-label>
                  <input matInput name="pChapter" #pChapter="ngModel" [(ngModel)]="data.pChapter">

                </mat-form-field>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
              <div class="example-container">
                <mat-form-field appearance="fill">
                  <mat-label>Title: </mat-label>
                  <input matInput name="pTitle" #pTitle="ngModel" [(ngModel)]="data.pTitle">

                </mat-form-field>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
              <div class="example-container">
                <mat-form-field appearance="fill">
                  <mat-label>Book: </mat-label>
                  <input matInput name="pBook" #pBook="ngModel" [(ngModel)]="data.pBook">

                </mat-form-field>
                </div>
            </mat-grid-tile>

           </mat-grid-list>

           <mat-grid-list cols="3" rowHeight="4:1">
            <mat-grid-tile>
              <mat-checkbox name="isTagalog1" #isTagalog="ngModel" [(ngModel)]="data.isTagalog">
                Ordinance is in Tagalog
             </mat-checkbox>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-checkbox name="isPursuantTo" #isPursuantTo="ngModel" [(ngModel)]="data.isPursuantTo">
                  Pursuant to RA7160
               </mat-checkbox>
              </mat-grid-tile>

            <mat-grid-tile>
              <mat-checkbox name="isRevised" #isRevised="ngModel" [(ngModel)]="data.isRevised" >
                Ordinance Revision
             </mat-checkbox>
              </mat-grid-tile>

         </mat-grid-list>

           <hr class="spacer1">
           <mat-grid-list cols="1" rowHeight="10:1" *ngFor="let x of data.presMem.slice(1, 2)">

           <h2 style="margin-bottom: 0px; text-align: center;"
           *ngIf="x.memberPos == 'Municipal Vice Mayor'" >Presiding Officer</h2>
           <h2 style="margin-bottom: 0px; text-align: center;"
           *ngIf="x.memberPos != 'Municipal Vice Mayor'">Acting Presiding Officer</h2>
             <mat-grid-tile>

               <mat-label style="margin-left: 30%; width: 4%">HON:</mat-label>

               <input style="margin-left: 1%; width:18%" matInput required [(ngModel)]="x.memberName" name="{{x.memberName}}">

               <mat-form-field style="margin-left:1%; margin-right: 30%; width: 16%;">
                 <mat-select id="memberPos1select" name="{{x.memberPos}}" [(ngModel)]="x.memberPos">
                   <mat-option *ngFor="let memberPos of memberPosition" [value]="memberPos">{{ memberPos }}</mat-option>
                 </mat-select>
               </mat-form-field>

             </mat-grid-tile>
           </mat-grid-list>

           <mat-grid-list cols="1" rowHeight="12:1">
             <mat-grid-tile>
               <h2 style="margin-bottom: -10px;">Present Members</h2>
               </mat-grid-tile>
           </mat-grid-list>

           <mat-grid-list cols="2" rowHeight="20:1">
            <mat-grid-tile *ngFor="let x of data.presMem.slice(2, 15)">

              <mat-label style="margin-left: 0%; width: 3%">HON:</mat-label>

                <input style="margin-left: 5%; width:46%" matInput required [(ngModel)]="x.memberName" name="{{x.memberName}}">

                <mat-form-field style="margin-left: 2%; margin-right: 0%; width: 26%">
                  <mat-select id="memberPos2select" name="{{x.memberPos}}" [(ngModel)]="x.memberPos">
                    <mat-option *ngFor="let memberPos of memberPosition" [value]="memberPos">{{ memberPos }}</mat-option>
                  </mat-select>
                </mat-form-field>


            </mat-grid-tile>

            </mat-grid-list>

            <mat-grid-list cols="1" rowHeight="14:1">
              <mat-grid-tile>
                <h2 style="margin-bottom: -27px;">Absent Members</h2>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="2" rowHeight="20:1" >
              <mat-grid-tile  *ngFor="let x of data.absMem.slice(1, 15)">
                <mat-label style="margin-left: 0%; width: 3%">HON:</mat-label>

                  <input style="margin-left: 5%; width:40%" matInput required [(ngModel)]="x.memberName" name="{{x.memberName}}">

                  <mat-form-field style="margin-left: 2%; margin-right: 0%; width: 26%">
                    <mat-select id="memberPos2select" name="{{x.memberPos}}" [(ngModel)]="x.memberPos">
                      <mat-option *ngFor="let memberPos of memberPosition" [value]="memberPos">{{ memberPos }}</mat-option>
                    </mat-select>
                  </mat-form-field>

              </mat-grid-tile>
              </mat-grid-list>
              <br><br>
                  <button mat-raised-button type="submit" value="Form" class="resBtnSave">Save Changes</button>
                  <br>
          </form>
             </mat-tab>
                <mat-tab label="Ordinance Description">
                  <form  #ordinanceEditForm2="ngForm" (ngSubmit)="updateOrdForm(ordinanceEditForm2)">

                                <mat-grid-list cols="1" style="margin-top: 2%;"
                                rowHeight="15:1">
                                  <mat-grid-tile>
                                    <h2 style="margin-bottom: -20px !important;">
                                      RESOLUTION DESCRIPTION</h2>
                                    </mat-grid-tile>
                                </mat-grid-list>

                              <mat-grid-list class="resFromEd" cols="1" rowHeight="17:1">
                                <div [froalaEditor]="options"
                                [(froalaModel)]="data.resolutionDes">
                                </div>
                              </mat-grid-list>

                              <mat-grid-list cols="1" style="margin-top: 2%;"
                              rowHeight="15:1">
                                <mat-grid-tile>
                                  <h2 style="margin-bottom: -20px !important;">
                                    ORDINANCE DESCRIPTION</h2>
                                  </mat-grid-tile>
                              </mat-grid-list>

                            <mat-grid-list class="resFromEd" cols="1" rowHeight="17:1">
                              <div [froalaEditor]="options"
                                [(froalaModel)]="data.ordinanceDes">
                                </div>
                            </mat-grid-list>

                              <mat-grid-list cols="1" style="margin-top: 2%;"
                              rowHeight="15:1">
                                <mat-grid-tile>
                                  <h2 style="margin-bottom: -20px !important;">
                                    APPROPRIATIONS DESCRIPTION</h2>
                                  </mat-grid-tile>
                              </mat-grid-list>

                              <mat-grid-list class="resFromEd" cols="1" rowHeight="17:1">
                                <div [froalaEditor]="options"
                                [(froalaModel)]="data.approDes">
                                </div>
                              </mat-grid-list>

                              <br><br>
                              <h2 style="text-align:center; padding-bottom: 20px;">I
                                 HEREBY CERTIFY TO THE CORRECTNESS OF THE FOREGOING ORDINANCE</h2>
                              <mat-grid-list cols="3" rowHeight='15px' >
                                <mat-grid-tile >PREPARED BY:</mat-grid-tile>
                                <mat-grid-tile>ATTESTED BY:</mat-grid-tile>
                                <mat-grid-tile>APPROVED BY:</mat-grid-tile>
                              </mat-grid-list>
                              <mat-grid-list cols="3" rowHeight="3:1">
                                <mat-grid-tile>
                                  <mat-form-field class="example-full-width" style="width: 250px">
                                   <input type="text" matInput #oSecretary="ngModel" required
                                      [(ngModel)]="data.oSecretary"
                                      name="oSecretary"
                                      [ngClass]="{'invalid-textbox' :ordinanceEditForm2.submitted && !oSecretary.valid }">
                                   <mat-label>Secretary to the Sangguniang Bayan</mat-label>
                                      <div *ngIf="ordinanceEditForm2.submitted && !oSecretary.valid">
                                        <label class="validation-message">Secretary Name is required.</label>
                                      </div>
                                  </mat-form-field>
                              </mat-grid-tile>

                                <mat-grid-tile>
                                   <mat-form-field class="example-full-width" style="width: 250px">
                                      <mat-label>Municipal Vice Mayor (Presiding Officer)</mat-label>

                                      <input type="text" matInput #oViceMayor="ngModel" required
                                      [(ngModel)]="data.oViceMayor"
                                      name="oViceMayor"
                                      [ngClass]="{'invalid-textbox' :ordinanceEditForm2.submitted && !oViceMayor.valid }">

                                      <div *ngIf="ordinanceEditForm2.submitted && !oViceMayor.valid">
                                        <label class="validation-message">Municipal Vice Mayor is required.</label>
                                      </div>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                  <mat-form-field class="example-full-width" style="width: 250px">
                                    <mat-label>Municipal Mayor of Limay Bataan</mat-label>

                                    <input type="text" matInput #oMayor="ngModel" required
                                    [(ngModel)]="data.oMayor"
                                    name="oMayor"
                                    [ngClass]="{'invalid-textbox' :ordinanceEditForm2.submitted && !oMayor.valid }">

                                      <div *ngIf="ordinanceEditForm2.submitted && !oMayor.valid">
                                        <label class="validation-message">Municipal Mayor is required.</label>
                                      </div>
                                  </mat-form-field>
                              </mat-grid-tile>
                              </mat-grid-list>


                           <br><br>
                         <button mat-raised-button type="submit" value="Form" class="resBtnSave">Save Changes</button>
                       <br>
                    </form>
                </mat-tab>
                 </mat-tab-group>
                     </mat-card>
