
<img class="limaylogo" [src]="limaylogo">

<h1 class="limaytitle">Republic of the Philippines</h1>
<h1>Municipality of Limay Bataan</h1>

<mat-tab-group class="1" [selectedIndex]="0" *ngIf="userDetails.usertype ==  this.usertypes[0]">
  <mat-tab class="tabL" label="Upload Files" >
    <upload-module></upload-module>
     </mat-tab>
  <mat-tab label="View Files">
    <view-module></view-module>
     </mat-tab>

  <mat-tab label="Account Management" >
    <user-header-module></user-header-module>
  </mat-tab>
</mat-tab-group>

<mat-tab-group class="1" [selectedIndex]="0" *ngIf="userDetails.usertype ==  this.usertypes[1]">
  <mat-tab class="tabL" label="Upload Files" >
    <upload-module></upload-module>
     </mat-tab>
  <mat-tab label="View Files">
    <view-module></view-module>
     </mat-tab>
</mat-tab-group>

<mat-tab-group class="1" [selectedIndex]="0" *ngIf="userDetails.usertype == this.usertypes[2]">
  <mat-tab label="View Files">
    <view-module></view-module>
     </mat-tab>
</mat-tab-group>

