.lf-card{
  max-width: 350px;
  max-height: 100%;
  margin-top: 5% !important;
  margin: auto;
 // background-color: #f0fd5f35;
}

.limaylogo{
  display: block;
  width: 40%;
  height: 25%;
  margin-top: 20px !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px !important;
}

.titleformat{
  text-align: center;
  margin-bottom: 0% !important;
}

.mff-format1{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 0%;
  outline-color: #28a745;
}

.mff-format2{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.loginbutton{
  background-color: #28a745;
  border-color: #28a745;
  color: white;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

//validators
.error-message{
  color: #e23131;
  font-size: smaller;
}

.validation-message{
  color: red;
  font-size: smaller;
  font-style: italic;
  margin-top: 10px;;
  margin-bottom: 0px;
}


//defaults

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #28a745 !important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #28a745 !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color:  #28a745 !important;
}

.mobile{
  display: none;
}
.pc{
  display: block;
}

//START: MOBILE CSS

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px)
  and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .mobile{
      display: block;
    }
    .pc{
      display: none;
    }
    .lf-card{
      max-width: 60%;
      max-height: 150%;
      margin-top: 5% !important;
      margin-bottom: 5% !important;
    }
    .email{
      margin-top: -0.2px !important;
    }
    .loginbutton{
      width: 80%;
    }
  }

  @media only screen and (min-device-width: 375px) and (max-device-height: 667px)
    and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

  }

  /* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px)
  and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    .mobile{
      display: block;
    }
    .pc{
      display: none;
    }
    .lf-card{
      max-width: 60%;
      max-height: 150%;
      margin-top: 5% !important;
      margin-bottom: 5% !important;
    }
    .email{
      margin-top: -0.2px !important;
    }
  }

  @media only screen and (min-device-width: 414px) and (max-device-height: 736px)
    and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){

  }

  /* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and
  (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    .mobile{
      display: block;
    }
    .pc{
      display: none;
    }
    .lf-card{
      max-width: 60%;
      max-height: 150%;
      margin-top: 5% !important;
      margin-bottom: 5% !important;
    }
    .email{
      margin-top: -0.2px !important;
    }
  }

  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and
   (orientation : portrait) and (-webkit-device-pixel-ratio: 3){

  }

  //END: MOBILE CSS
