.dialogdivformat{
  width: 96%;
  margin-top: 15px !important;
  margin-left: 2%;
  margin-right: 2%;
}

.mc-format{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}


.mff-format1{
  width: 50%;
  margin-left: 3%;
}

.mff-format2{
  width: 30%;
  margin-left: 14%;
  margin-right: 3%;
}

.mff-format3{
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}

.buttonformat{
  background-color: #28a745;
  color: white;
  font-weight: bold;
  width: 94%;
  margin-top: 2% !important;
  margin-left: 3%;
  margin-right: 3%;
}

.buttonformat2{
  background-color: #e24545;
  color: white;
  font-weight: bold;
  width: 94%;
  margin-top: 2% !important;
  margin-left: 3%;
  margin-right: 3%;
}

.validation-message{
  color: red;
  font-size: smaller;
  font-style: italic;
}
