<mat-card class="defaultform">
  <mat-tab-group>

    <mat-tab label="Activity Logs">

    </mat-tab>

    <mat-tab label="Manage Users">

      <form #usersForm="ngForm" (ngSubmit)="usersForm.valid && onSubmit(usersForm)">

        <div class="div3">
          <h2 style="color: #28a745; display: inline; margin-right: 1%;">Add User</h2>
          <h2 style="color: #28a745; display: inline; margin-left: 20.5%;">User Table</h2>
        </div>


      <div class="div1">
      <mat-form-field class="mff1">
        <mat-label>User Type:</mat-label>

          <mat-select  #usertype="ngModel" name="usertype" [(ngModel)]="user.usertype" required
          [ngClass]="{'invalid-textbox' :usersForm.submitted && !usertype.valid }">
            <mat-option *ngFor="let usertype of usertypes" [value]="usertype">{{usertype}}</mat-option>
          </mat-select>
        </mat-form-field>
        <label class="validation-message" style="margin-left: 8%;" *ngIf="usersForm.submitted && !usertype.valid">User Type is required.</label>

        <mat-form-field class="mff1">
          <mat-label>First Name:</mat-label>
          <input matInput type="text" #firstname="ngModel" name="firstname" [(ngModel)]="user.firstname" required
          [ngClass]="{'invalid-textbox' :usersForm.submitted && !firstname.valid }">
        </mat-form-field>
        <label class="validation-message" style="margin-left: 8%;" *ngIf="usersForm.submitted && !firstname.valid">First Name is required.</label>

        <mat-form-field class="mff1">
          <mat-label>Middle Name: </mat-label>
          <input matInput type="text" #middlename="ngModel" name="middlename" [(ngModel)]="user.middlename" required
          [ngClass]="{'invalid-textbox' :usersForm.submitted && !middlename.valid }">
        </mat-form-field>
        <label class="validation-message" style="margin-left: 8%;" *ngIf="usersForm.submitted && !middlename.valid">Middle Name is required.</label>

        <mat-form-field class="mff1">
          <mat-label>Last Name:</mat-label>
          <input matInput type="text" #lastname="ngModel" name="lastname" [(ngModel)]="user.lastname" required
          [ngClass]="{'invalid-textbox' :usersForm.submitted && !lastname.valid }">
        </mat-form-field>
        <label class="validation-message" style="margin-left: 8%;" *ngIf="usersForm.submitted && !lastname.valid">Last Name is required.</label>

        <mat-form-field class="mff1">
          <mat-label>Department:</mat-label>
          <mat-select #department="ngModel" name="department" [(ngModel)]="user.department" required
          [ngClass]="{'invalid-textbox' :usersForm.submitted && !department.valid }">
            <mat-option *ngFor="let department of departments" [value]="department">{{department}}</mat-option>
          </mat-select>
        </mat-form-field>
        <label class="validation-message" style="margin-left: 8%;" *ngIf="usersForm.submitted && !department.valid">Department is required.</label>

        <mat-form-field class="mff1">
          <mat-label>Position:</mat-label>
          <input matInput type="text" #position="ngModel" name="position" [(ngModel)]="user.position" required
          [ngClass]="{'invalid-textbox' :usersForm.submitted && !position.valid }">
        </mat-form-field>
        <label class="validation-message" style="margin-left: 8%;" *ngIf="usersForm.submitted && !position.valid">Position is required.</label>

        <mat-form-field class="mff1">
          <mat-label>Email:</mat-label>
          <input matInput type="text" #email="ngModel" [(ngModel)]="user.email" name="email" placeholder="Email"
          required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :usersForm.submitted && !email.valid }">
        </mat-form-field>
        <div *ngIf="usersForm.submitted && email.errors">
          <label class="validation-message" style="margin-left: 8%;" *ngIf="email.errors.required">Email is required.</label>
          <label class="validation-message" style="margin-left: 8%;" *ngIf="email.errors.pattern">Invalid Email address.</label>
        </div>

        <mat-form-field class="mff1">
          <mat-label>Password:</mat-label>
          <input matInput type="password" #password="ngModel" name="password" [(ngModel)]="user.password" minlength="4" required
          [ngClass]="{'invalid-textbox' :usersForm.submitted && !password.valid }">
        </mat-form-field>
        <div *ngIf="usersForm.submitted && password.errors">
          <label class="validation-message" style="margin-left: 8%;" *ngIf="password.errors.required">Password is required.</label>
          <label class="validation-message" style="margin-left: 8%;" *ngIf="password.errors.minlength">Password must at least be 4 characters.</label>
        </div>

        <button mat-raised-button type="submit" value="Form" class="buttonformat">SUBMIT</button>

        <div style="margin-left: 2%;" *ngIf="showSucessMessage">
          <label class="success-message" style="margin-left: 8%;">Saved Successfully!</label>
        </div>

        <br>
        <br>
        <br>
        <br>

        </div>

        <div class="div2">
         <div class="table-container">
            <mat-form-field class="mff2">
              <mat-label>Search:</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Admin" #input>
            </mat-form-field>

            <table mat-table [dataSource]="dataSource">

              <ng-container matColumnDef="usertype">
                <th mat-header-cell *matHeaderCellDef>User Type</th>
                <td mat-cell *matCellDef="let element">{{element.usertype}}</td>
              </ng-container>

              <ng-container matColumnDef="firstname">
                <th mat-header-cell *matHeaderCellDef>First Name</th>
                <td mat-cell *matCellDef="let element">{{element.firstname}}</td>
              </ng-container>

              <ng-container matColumnDef="middlename">
                <th mat-header-cell *matHeaderCellDef>Middle Name</th>
                <td mat-cell *matCellDef="let element">{{element.middlename}}</td>
              </ng-container>

              <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef>Last Name</th>
                <td mat-cell *matCellDef="let element">{{element.lastname}}</td>
              </ng-container>

              <ng-container matColumnDef="department">
                <th mat-header-cell *matHeaderCellDef>Department</th>
                <td mat-cell *matCellDef="let element">{{element.department}}</td>
              </ng-container>

              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef>Position</th>
                <td mat-cell *matCellDef="let element">{{element.position}}</td>
              </ng-container>

              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email Address</th>
                <td mat-cell *matCellDef="let element">{{element.email}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="RowSelected(row)"
              (mouseover)="HighlightRow(row)"[ngClass] = "{'highlight' : row._id == selectedUser}"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
          </div>
        </div>

      </form>

    </mat-tab>

  </mat-tab-group>
</mat-card>
